.label-searcher-select {
    background-color: Gray;
}

.label-searcher-display {
    background-color: #428bca;
}

.label-searcher-marker {
    background-color: Gray;
}


.searcher-label {
    cursor: pointer;
}

.searcher-panel {
    margin-top:10px;
}